@import "tailwindcss";

@layer base {
  body {
    font-family: "MS Sans Serif", Geneva, sans-serif, ui-monospace, monospace;
    background-color: #008080; /* Teal khas desktop Windows 95 */
  }
}

/* Custom Win95 Bevel Borders */
.win95-window {
  background-color: #c0c0c0;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
  box-shadow: inset -1px -1px 0px #808080, inset 1px 1px 0px #dfdfdf;
}

.win95-btn {
  background-color: #c0c0c0;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
  box-shadow: inset -1px -1px 0px #808080, inset 1px 1px 0px #dfdfdf;
}

.win95-btn:active {
  border-top: 2px solid #000000;
  border-left: 2px solid #000000;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  box-shadow: inset 1px 1px 0px #808080;
}

.win95-inset {
  background-color: #ffffff;
  border-top: 2px solid #808080;
  border-left: 2px solid #808080;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  box-shadow: inset 1px 1px 0px #000000;
}